<div class="inner">
  <div class="quest-cell bg-black no-flicker">
    <%= render_bounty_ribbon quest %>
    <div class="inner">
      <div class="profile">
        <%= avatar quest.owner, :size => 64 %>
        <div class="handle"><%= link_to_twitter_account quest.owner %></div>
      </div>
      <%= link_to h4(truncate(quest.title, :length => 100)), quest_path(quest) %>
      <div class="restrictions">
        <%= render_restriction quest, :expires_at %>
        <%= render_restriction quest, :location %>
      </div>
    </div>
  </div>
</div>
