<%= form_for @quest, :id => "quest_form" do |form| %>
  <fieldset>
    <legend><%= I18n.t(:"quest.form.legend", :count => Quest::NUMBER_OF_CRITERIA) %></legend>
    <%#= form.error_messages %>

    <%= form.control_group :title, :text_area, :rows => 2 %>
    <%= form.control_group :description, :text_area, :rows => 3 %>
    <%#= form.control_group :location %>
    <%#= form.control_group :bounty, :class => "input-xxxsmall", :unit => "EURO" %>
    <%#= form.control_group :image, :transloadit %>

    <div class="criteria">
    <% Quest.criteria_titles.each_with_index do |name, idx| %>
      <div class="criterium-group">
        <%= form.control_group name, :text_area, :rows => 2, :hint => I18n.t("quest.form.field_hint.criteria") %>
        <%#= form.control_group Quest.criteria_descriptions[idx], :text_area, :rows => 3, :hint => I18n.t("quest.form.field_hint.criteria_description") %>
      </div>
    <% end %>
    </div>
    
    <script type="text/javascript" charset="utf-8">
      (function($) {
        /*
            Hide all criterium groups that have no value in its input 
            nodes except the first one.
         */
        var count = 0;
        $(".criterium-group").each(function() {
          // array with true entries when there is input.
          var inputsHaveVals = jQuery.map($("input", this), function(input) {
            return $(input).val() !== "" ? true : false;
          });

          var visible = (jQuery.inArray(true, inputsHaveVals) != -1) ||
            (count++ == 0);

          if(!visible)
            $(this).hide();
        });
        
        /*
            Whenever a criterium grou gets focus we are showing the next 
            criterium group already: the user might want to enter some data
            there.
         */
        $(".criterium-group textarea").focus(function() {
          $(this).closest(".criterium-group").
            next(".criterium-group").show();
        });
        
      })(jQuery);
    </script>
    <%= form.actions :cancel_url => quests_path %>
  </fieldset>
<% end %>
<!-- <script type="text/javascript" src="//assets.transloadit.com/js/jquery.transloadit2.js"></script>  -->
<%#= transloadit_jquerify :quest_form, :wait => true %>
