<div class="message-container span9">
  <%= link_to user_path(quest.owner), :class => "avatar" do
    avatar quest.owner, :size => 64
  end %>
  <div class="message-box">
    <div class="message-head">
      <%= link_to user_path(quest.owner), :class => "owner" do %>
        <%= strong(quest.owner.name) %>
        <%= quest.owner.twitter_handle %>
      <% end %>
      <div class="time">
        <% if quest.active? %>
          <%= I18n.t("time.distance.expiration", :distance_of_time => distance_of_time_in_words_to_now(quest.expires_at)) %>
        <% else %>
          <%= I18n.t("time.distance.creation", :distance_of_time => distance_of_time_in_words_to_now(quest.created_at)) %>
        <% end %>
      </div>
    </div>
    <%= link_to quest_path(quest), :class => "message" do
      truncate(quest.title, :length => 200)
    end %>
    <%= quest_buttons(quest) %>
  </div>
</div>

<div class="span3">
  <%= quest_statistic(quest) %>
</div>