<div class="message-container span12">
  <%= link_to user_path(quest.owner), :class => "avatar" do
    avatar quest.owner, :size => 96
  end %>
  <%= link_to quest_path(quest), :class => "message-box" do %>
    <div class="message-head clearfix">
      <div class="owner">
        <%= quest.owner.name %>
      </div>
      <div class="time">
        <% if quest.active? %>
          <%= I18n.t("quest.list.expiration", :distance_of_time => distance_of_time_in_words_to_now(quest.expires_at)) %>
        <% else %>
          <%= I18n.t("quest.list.creation", :distance_of_time => distance_of_time_in_words_to_now(quest.created_at)) %>
        <% end %>
      </div>
    </div>
    <div class="message-body">
      <%= truncate(quest.title, :length => 200) %>
    </div>
  <% end %>
  <div class="message-stats">
    <%= quest_statistic(quest) %>
    <%= quest_responses(quest) %>
    <%= quest_buttons(quest) %>
  </div>
</div>
