<div class="message-container span12">
  <%= link_to user_path(quest.owner), :class => "avatar" do
    avatar quest.owner, :size => 96
  end %>
  <div class="message-box">
    <div class="message-head clearfix">
      <%= link_to quest.owner.name, user_path(quest.owner), :class => "owner" %>
      <div class="time">
        <% if quest.active? %>
          <%= I18n.t("quest.list.expiration", :distance_of_time => distance_of_time_in_words_to_now(quest.expires_at)) %>
        <% else %>
          <%= I18n.t("quest.list.creation", :distance_of_time => distance_of_time_in_words_to_now(quest.created_at)) %>
        <% end %>
      </div>
    </div>
    <div class="message-body">
      <%= link_to truncate(quest.title, :length => 200), quest_path(quest), :class => "message" %>
    </div>
  </div>
  <div class="message-stats">
    <%#= quest_bounty_height(quest, :value => "") %>
    <%= quest_statistic(quest) %>
    <%= quest_buttons(quest) %>
  </div>
</div>
