<div class="message-container row-fluid">
  <%= link_to quest_path(quest), :class => "message-box span8" do %>
    <div class="message row-fluid">
      <div class="avatar-container span2">
        <%= avatar quest.owner, :size => 96 %>
      </div>
      <div class="text-container span10">
        <div class="message-head row-fluid">
          <div class="owner span6">
            <%= quest.owner.name %>
          </div>
          <div class="time span6">
            <%= quest_duration(quest) %>
          </div>
        </div>
        <div class="message-body">
          <%= truncate(quest.title, :length => 200) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="message-stats span4">
    <%= quest_statistic(quest) %>
    <%= quest_responses(quest) %>
    <%= quest_buttons(quest) %>
  </div>
</div>
