<div class="row">
  <div class="span1"></div>
  <div class="span2"><%= image_for quest, :thumbnail %></div>
  <div class="span3"><%= quest.title %></div>
  <div class="span1"><%= quest.bounty.to_full_string %></div>
  <div class="span4"><%= quest.description %></div>
  <div class="span1">
    <%= link_to 'Show', quest %> |
    <%= link_to 'Edit', edit_quest_path(quest) %> |
    <%= link_to 'Destroy', quest, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>
