<div class="pin no-flicker">
  <div class="tape"></div>
  <%= render_bounty_badge quest %>
  <div class="inner">
    <%= link_to user_path(quest.owner), :class => "profile" do %>
      <%= avatar quest.owner, :size => 64 %>
      <div class="handle">
        <%= quest.owner.twitter_handle %></br>
        <strong><%= quest.owner.name %></strong>
      </div>
    <% end %>
    
    <%= link_to quest_path(quest), :class => "request" do %>
      <%= h2(truncate(quest.title, :length => 100)) %>
    <% end %>
    
    <div class="restrictions">
      <%= render_restriction quest, :expires_at %>
      <%#= render_restriction quest, :location %>
    </div>
    
    <%= interaction_buttons(
      start_quest_button(quest),
      stop_quest_button(quest),
      share_button(quest)
    ) %>
      
  </div>
</div>
