<h1 itemprop="name"><%= quest.title %></h1>
<div itemprop="description" class="description"><%= quest.description.html_safe %></div>

<% if quest.criteria.present? %>
  <h2><%= I18n.t("quest.box.criteria", :count => quest.criteria.count) %></h2>
  <%= partial "shared/criteria", :container => quest, :complience => false %>
<% end %>

<% if quest.images.present? %>
  <h2><%= I18n.t("quest.box.images", :count => quest.images.count) %></h2>
  <img itemprop="image" style="display:none" src="<%= quest.images.first %>"/>
  <%= partial "shared/images", :container => quest %>
<% end %>

<% if quest.location.present? %>
  <h2><%= I18n.t("quest.box.location") %></h2>
  <%= partial "locations/show", :location => quest.location %>
<% end %>

<% if preview %>
  <div class="button-section">
    <%= start_quest_button(quest, :button => "btn btn-link", :size => "default") %>
  </div>
<% end %>