<h1><%= quest.title %></h1>
<div class="description"><%= quest.description.html_safe %></div>

<% if quest.criteria.present? %>
  <h2><%= I18n.t("quest.box.criteria") %></h2>
  <div class="criteria-section">
    <ol class="criteria">
      <% quest.criteria.each do |criterium| %>
        <li><%= criterium[:title] %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<% if quest.images.present? %>
  <h2><%= I18n.t("quest.box.images", :count => quest.images.count) %></h2>
  <div class="image-section">
    <% quest.images(:width => 185, :height => 180).each_slice(4).with_index do |image_urls, offset| %>
      <ul class="thumbnails row-fluid">
        <% image_urls.each_with_index do |image_url, index| %>
          <li class="span3">
            <%= link_to(image_tag(image_url, :width => 185, :height => 180),
              "/quests/#{quest.id}/lightbox/#{(offset*4)+index}",
              :class => 'thumbnail',
              :remote => true) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if quest.location.present? %>
  <h2><%= I18n.t("quest.box.location", :location => quest.location.address) %></h2>
  <%= partial "locations/show", :location => quest.location %>
<% end %>

<% if preview %>
  <div class="button-section">
    <%= start_quest_button(quest, :button => "btn btn-link", :size => "default") %>
  </div>
<% end %>