<h1><%= quest.title %></h1>
<h3 class="description"><%= quest.description %></h3>

<% if quest.criteria.present? %>
<div class="criteria-section">
  <p><%= I18n.t("quest.box.criteria") %></p>
  <ol class="criteria">
    <% quest.criteria.each do |criterium| %>
      <li><%= criterium[:title] %></li>
    <% end %>
  </ol>
</div>
<% end %>

<div class="image-section">
  <% quest.images(:width => 185, :height => 180).each_slice(4) do |urls| %>
    <ul class="thumbnails row-fluid">
      <% urls.each do |url| %>
        <li class="span3">
          <a href="#" class="thumbnail">
            <%= image_tag url, :width => 185, :height => 180 %>
          </a>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>

