<h1><%= quest.title %></h1>
<div class="description"><%= quest.description %></div>

<% if quest.criteria.present? %>
<div class="criteria-section">
  <p><%= I18n.t("quest.box.criteria") %></p>
  <ol class="criteria">
    <% quest.criteria.each do |criterium| %>
      <li><%= criterium[:title] %></li>
    <% end %>
  </ol>
</div>
<% end %>

<% if quest.images.present? %>
  <div class="image-section">
    <% quest.images(:width => 185, :height => 180).each_slice(4).with_index do |image_urls, offset| %>
      <ul class="thumbnails row-fluid">
        <% image_urls.each_with_index do |image_url, index| %>
          <li class="span3">
            <%= link_to(image_tag(image_url, :width => 185, :height => 180),
              "/quests/#{quest.id}/lightbox/#{(offset*4)+index}",
              :class => 'thumbnail',
              :remote => true) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>

<% if preview %>
  <div class="button-section">
    <%= start_quest_button(quest, :button => "btn btn-inverse", :size => "default") %>
  </div>
<% end %>