<div class="quest topbar">
  <div class="image-container">
    <%= link_to user_path(quest.owner), :class => "owner" do
      avatar quest.owner, :size => 64
    end %>
  </div>
  <%= link_to quest_path(quest), :class => "bar-box" do %>
    <div class="bar-head">
      <div class="owner"><%= quest.owner.name %></div>
      <div class="time">
        <%= quest_duration(quest) %>
      </div>
    </div>
    <div class="bar-body">
      <div class="title"><%= quest.title %></div>
    </div>
  <% end %>
</div>