<%= header_ribbon_button :bubble, t("quest.actions.new.title"), new_quest_path, :text => t("quest.actions.new.sub") %>

<div class="row bg-main">
  <div class="span12 bg-solid-black">
    <div class="quests">

      <%= partial "quests/index/head" %>

      <% if personal_page? %>
        <%= render :partial => 'quests/list/private' %>
      <% else %>
        <%= render :partial => 'quests/list/public' %>
      <% end %>
      
      <% if pagination = paginate(@quests) %>
        <div class="pagination pagination-centered inner">
          <%= pagination %>
        </div>
      <% end %>
    </div>
  </div>
</div>
