<%= header_ribbon(
    header_action(:rect, new_offer_path(:quest_id => @quest), :title => t("quest.actions.offer.title"), :text => t("quest.actions.offer.sub")),
    interaction_buttons(
      start_quest_button(@quest),
      stop_quest_button(@quest),
      offer_button(@quest),
      share_button(@quest)
    )
  ) %>
  
<div class="row bg-main" >
  <div class="span12">
    <div class="row">
      <div class="span8">
        <article class="quest sheet <%= random_even_unenven %>">
          <div class="shadow top left"></div><div class="shadow top right"></div>
          <div class="inner">
            <%= partial "quests/show/head", :quest => @quest %>
            <%= partial "quests/show/criteria", :quest => @quest %>
          </div>
          <div class="shadow bottom left"></div><div class="shadow bottom right"></div>
        </article>
      </div>
      <div class="span1">&nbsp;</div>
      <div class="span3">
        <%= partial "quests/show/actions", :quest => @quest %>
        <%#= partial "quests/show/location", :quest => @quest %>
      </div>
    </div>
    <div class="comments">
      <%= partial "shared/comments", :commentable => @quest %>
    </div>
    <% if (chain = @quest.chain_to(current_user)) && chain.present? %>
      <% partial "shared/chain", :quest => @quest, :chain => chain %>
    <% end %>
  </div>
</div>
