<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= user_bar(@quest.owner, :quest) %>
  </div>
  <div class="sidebar span2">
    <%= placeholder "Quest info" %>
  </div>
  <div class="span1">&nbsp;</div>
</div>

<%= spacer %>

<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= quest_box(@quest) %>
    <%= spacer %>
    <div class="row-fluid">
      <div class="span6">
        <%= comments_box(@quest) %>
      </div>
      <div class="span6">
        <%= offers_box(@quest) %>
      </div>
    </div>
  </div>
  <div class="sidebar span2">
    <%= placeholder "Days left" %>
    <%= spacer %>
    <%= placeholder "Offers made" %>
    <%= spacer %>
    <%= placeholder "Forwards" %>
    <%= spacer %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
