<div class="row-fluid">
  <div class="main span9">
    <%= user_bar(@quest.owner, :quest) %>
  </div>
  <div class="sidebar empty span3">&nbsp;</div>
</div>
<%= spacer %>
<div class="row-fluid main">
  <div class="main span9">
    <%= quest_box(@quest, :class => "with-opener") %>
    <% if @quest.offers.for_user(current_user).any? %>
      <a id ='offers'></a>
      <%= spacer %>
      <%= offers_box(@quest, :class => "with-opener") %>
    <% end %>
    <a id ='comments'></a>
    <%= spacer %>
    <%= comments_box(@quest) %>
  </div>
  <div class="sidebar span3">
    <%= quest_statistic_boxes(@quest) %>
  </div>
</div>
