<%= header_ribbon_button :rect, t("quest.actions.offer.title"), new_offer_path(:quest_id => @quest),
  :text   => t("quest.actions.offer.sub"),
  :social => { :twitter => { :url => share_path(@quest), :title => t("quest.actions.tweet.title"), :rel => "nofollow" }} %>
<div class="row bg-main" >
  <div class="span12 bg-solid-black">
    <% if mobile? %>
    <div class="row">
      <div class="span6">
        <%= partial "quests/show/head", :quest => @quest %>
      </div>
      <div class="span6">
        <%= partial "quests/show/actions", :quest => @quest %>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%= partial "quests/show/criteria", :quest => @quest %>
      </div>
      <div class="span6">
        <%= partial "quests/show/expires_at", :quest => @quest %>
        <%#= partial "quests/show/location", :quest => @quest %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="span8">
        <%= partial "quests/show/head", :quest => @quest %>
        <%= partial "quests/show/criteria", :quest => @quest %>
        <%= partial "quests/show/comments", :quest => @quest %>
      </div>
      <div class="span1">&nbsp;</div>
      <div class="span3">
        <%= partial "quests/show/actions", :quest => @quest %>
        <%= partial "quests/show/expires_at", :quest => @quest %>
        <%#= partial "quests/show/location", :quest => @quest %>
      </div>
    </div>
    <% end %>
  </div>
</div>
