<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= user_bar(@quest.owner, :quest) %>
  </div>
  <div class="sidebar span2">&nbsp;</div>
  <div class="span1">&nbsp;</div>
</div>

<%= spacer %>

<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= quest_box(@quest, :class => "with-opener") %>
    <%= spacer %>
    <div class="row-fluid">
      <div class="span6">
        <%= comments_box(@quest) %>
      </div>
      <div class="span6">
        <%= offers_box(@quest, :class => "with-opener") %>
      </div>
    </div>
  </div>
  <div class="sidebar span2">
    <%= quest_statistic_boxes(@quest) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
