<%= form_for  @offer, :url => reject_offer_url(@offer), :method => :put, :remote => true do |form| %>
  <% modal_body do %>
    <p><%= I18n.t("offer.reject.legend") %></p>
    <%= form.error_messages %>
    
    <%= form.control_group :rejection, :radio_button, :hint => false do
      Offer::REJECTIONS.map do |value|
          label :class => "radio" do
            form.radio_button(:rejection, value, :checked => ((@offer.rejection || Offer::REJECTIONS.first) == value)) +
            I18n.t("offer.form.field_hint.rejection.#{value}")
          end
        end.join.html_safe
    end %>
    <%= form.control_group :rejection_reason, :text_area, :rows => 3, :hint => false %>
    
    <%= form.actions "#", :"data-dismiss" => "modal", :label => I18n.t("button.reject") %>
  <% end %>
<% end %>
