<%= form_for  @offer, :url => withdraw_offer_url(@offer), :method => :put, :remote => true do |form| %>
  <% modal_body do %>
    <p><%= I18n.t("offer.withdraw.legend") %></p>
    <%= form.error_messages %>
    
    <%= form.control_group :withdrawal, :radio_button, :hint => false do
      Offer::WITHDRAWALS.map do |value|
          label :class => "radio" do
            form.radio_button(:withdrawal, value, :checked => ((@offer.withdrawal || Offer::WITHDRAWALS.first) == value)) +
            I18n.t("offer.form.field_hint.withdrawal.#{value}")
          end
        end.join.html_safe
    end %>
    <%= form.control_group :withdrawal_reason, :text_area, :rows => 3, :hint => false %>
    
  <% end %>
  
  <% modal_footer do %>
  <%= form.actions "#", :"data-dismiss" => "modal", :label => I18n.t("button.withdraw") %>
  <% end %>
<% end %>
