<%= form_for @identity, :url => sessions_path, :html => {:class => "form-horizontal"} do |form| %>
  <fieldset>
    <legend><%= I18n.t(:"signin.bountyhill")%></legend>
    <%= render 'shared/error_messages', :object => @identity, :scope => "signin" %>

    <div>
      <strong>You must register your email address...</strong>
      <p>
        ...to enter a quest and to post an offer.
      </p>
    </div>

    <%= form.control_group :email %>
    <%= form.control_group :password,               :password_field %>

    <%= form.agree_to_terms %>

    <div class="form-actions">
      <%= 
        if @identity.email.present?
          link_to I18n.t(:"reset_password.label"), reset_password_path(:email => @identity.email), :method => "post" 
        end 
      %> 
      <%= form.submit I18n.t(:sign_in), :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
