<%= form.control_group :email, :name => "signin[email]" %>
<%= form.control_group :password, :password_field, :name => "signin[password]" %>

<%= form.agree_to_terms %>

<div class="buttons">
  <%= link_to_reset_password if form.object.email.present? %> 
  <%= link_to_cancel_signin %>
  <%= form.submit I18n.t("sessions.email.signin"), :name => "do_signin", :class => "btn btn-primary" %>
</div>
