<fieldset>
  <legend><%= I18n.t("sessions.email.legend.signup")%></legend>
  <%#= form.error_messages @error if @error && @mode == :signin %>

  <%= form.control_group :email, :name => "signin[email]", :class => "input-xlarge" %>
  <%= form.control_group :password, :password_field, :name => "signin[password]", :class => "input-xlarge" %>

  <%#= form.agree_to_terms %>

  <div class="buttons input-xxlarge">
    <%= link_to_cancel_signin %>
    <%= form.submit I18n.t("sessions.email.signin"), :name => "do_signin", :class => "btn btn-primary btn-inverse btn-large" %>
  </div>
  <div class="pull-left">
    <a data-toggle="tab" href="#signup_subform"><%= I18n.t "sessions.to_signup" %></a>
    <br>
    <a data-toggle="tab" href="#reset_subform"><%= I18n.t "sessions.to_reset" %></a>
  </div>
</fieldset>
