<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSignin">
      <h3><%= I18n.t("sessions.email.title")%></h3>
    </a>
  </div>
  <div id="collapseSignin" class="accordion-body <%='in' if expand %> collapse">
    <div class="accordion-inner">
      <%= form_for @identity ||= Identity::Email.new, :url => "/signin", :method => :post, :id => "signin_email" do |form| %>
        <%= hidden_field_tag :req, params[:req] %>
        <div class="tab-content">
          <div id="signin_subform" class="tab-pane fade<%= " active in" if @mode == :signin %>">
            <%= partial "email_signin", :form => form %>
          </div>
          <div id="reset_subform" class="tab-pane fade<%= " active in" if @mode == :reset %>">
            <%= partial "email_reset", :form => form %>
          </div>
          <div id="signup_subform" class="tab-pane fade<%= " active in" if @mode == :signup %>">
            <%= partial "email_signup", :form => form %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
