<%= form_for Identity::Email.new, :url => "/" do |form| %>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseConfirmation">
        <h3><%= I18n.t("sessions.confirmed.title")%></h3>
      </a>
    </div>
    <div id="collapseConfirmation" class="accordion-body <%='in' if expand %> collapse">
      <div class="accordion-inner">
        <fieldset>
          <legend><%= I18n.t("sessions.confirmed.legend")%></legend>
          <%= I18n.t "sessions.confirmed.reasons" %>
          <div class="buttons">
            <%= link_to_cancel_signin %>
            <%=
              link_to I18n.t("sessions.email.resend_confirmation"), "/confirm",
                :class => "btn btn-primary btn-inverse btn-large", :method => :post 
            %>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
<% end %>
