<%= form.control_group :email, :name => "signup[email]" %>
<%= form.control_group :password, :password_field, :name => "signup[password]" %>
<%= form.control_group :password_confirmation, :password_field, :name => "signup[password_confirmation]" %>

<%= form.agree_to_terms %>

<div class="form-actions">
  <%= link_to_cancel_signin %>
  <%= form.submit I18n.t("signup.label"), :name => "do_signup", :class => "btn btn-primary" %>
</div>
