<%= form_for Identity::Email.new, :url => "/" do |form| %>
<legend><%= I18n.t("sessions.confirmed.legend")%></legend>

<div class="alert alert-info" style="min-height: 5em">
  <%= I18n.t "sessions.confirmed.reasons" %>
</div>

<div class="form-actions">
  <%= link_to_cancel_signin %>
  <%=
    link_to I18n.t("sessions.email.resend_confirmation"), "/confirm",
      :class => "btn btn-primary", :method => :post 
  %>
</div>
<% end %>