<fieldset>
  <legend><%= I18n.t(:"signin.bountyhill")%></legend>
  <%= render 'shared/error_messages', :object => nil, :scope => "signin" %>
  
  <%= form.control_group :email %>
  <%= form.control_group :password,               :password_field %>
    
  <div class="form-actions">
    <%#= link_to I18n.t(:cancel), root_path, :class => "btn btn-mini" %>
    <%= form.submit I18n.t(:sign_in), :class => "btn btn-primary btn" %>
  </div>
</fieldset>