<% identity = Identity::Twitter.new(:follow_bountyhill => true) %>
<%= form_for identity, :url => "/sessions/twitter", :method => :post do |form| %>
  <%= hidden_field_tag :req, params[:req] %>
  <fieldset>
    <legend><%= I18n.t("sessions.twitter.legend")%></legend>
    <%= form.error_messages :scope => "signup" %>

    <div class="alert alert-info" style="min-height: 5em">
      <%= I18n.t "sessions.twitter.reasons" %>
    </div>

    <%= form.control_group :follow_bountyhill, :check_box %>

    <%= form.agree_to_terms %>

    <div class="form-actions">
      <%= link_to I18n.t(:cancel), "/sessions/twitter", :method => :post, :class => "btn cancel" %>
      <%= form.submit I18n.t("sessions.twitter.signin"), :class => "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>

<style type="text/css" media="screen">
  form div.cancel {
    display: none;
  }
  div.single-form form div.cancel {
    display: default;
  }
</style>
