<%= form_for(identity, :url => "identities/destroy/#{identity.id}", :method => :delete) do |form| %>
  <p><%= I18n.t("identity/facebook.form.delete.legend") %></p>
  <%= form.control_group :delete_me, :check_box %>

  <div class="buttons">
    <%= link_to I18n.t("button.cancel"), "#", :class => "btn btn-cancel", :"data-dismiss" => "modal" %>
    <%= form.submit I18n.t("button.remove"), :name => "delete_facebook", :id => "delete_facebook", :class => "btn btn-danger", :disabled => "disabled" %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("#identity_facebook_delete_me").change(function() {
    if($(this).is(':checked'))
      $("#delete_facebook").removeAttr("disabled");
    else
      $("#delete_facebook").attr("disabled", "disabled");
  });
</script>