<%-
  # By editing tweet the user edits the "message" entry. When submitting the
  # form the controller posts the message with all choosen identities.
  #
  # Parameters for this partial:
  # - +share+: the Share object.
-%>

<%= form_for(@share, :remote => true) do |form| %>
  <% modal_body do %>
    <% if @share.quest.active? %>
      <p><%= I18n.t("share.form.legend") %></p>
    <% else %>
      <p><%= I18n.t("quest.form.start.legend") %></p>
    <% end %>
    
    <% if @share.application? %>
      <p><%= I18n.t("share.form.application") %></p>
    <% end %>
    
    <%= form.error_messages %>
    
    <%= form.control_group :quest_id,     :hidden_field %>
    <%= form.control_group :application,  :hidden_field %>
    <%= hidden_field_tag :bounty_with_unit, number_to_currency(@share.bounty, :precision => 0, :unit => '€') %>
    
    <% Share::IDENTITIES.each do |identity| %>
      <div class="checkbox-group <%= identity %>">
        <%= form.share_with identity,
          :checked  => @share.identities[identity],
          :required => !@share.identities[identity] %>
        <%= awesome_icon(icon_for("identity.#{identity}")) %>
      </div>
    <% end %>
    
    <div class="tweet-message">
      <p><%= I18n.t("share.form.legend2") %></p>
      <%= form.control_group :title, :text_area, :rows => 2, :hint => false, :label => false %>
    </div>
    
    <div class="tweet-container">
      <%= form.control_group :message, :hidden_field %>
      <%= avatar current_user, :size => 48 %>
      <div id="tweet">
        <span class="preview"/>
      </div>
    </div>
    
    <% unless @share.quest.active? %>
      <br><p><%= I18n.t("share.form.legend3",
        :duration_in_days => I18n.t('quest.form.field_hint.duration', :count => @share.quest.duration_in_days)) %></p>
    <% end %>
    
  <% end %>

  <% modal_footer do
    form.actions "#", :"data-dismiss" => "modal", :label => I18n.t("button.#{@share.quest.active? ? 'share' : 'publish'}"), :class => "btn btn-primary btn-inverse"
  end %>
  
<% end %>

<script type="text/javascript" charset="utf-8">

(function($) {
  
  var node_title  = $("#share_title"),
    node_message  = $("#share_message");
    node_tweet    = $("#tweet span.preview");
    
  function update_message() {
    // Build a message to write into the form
    var message     = jQuery.escapeHTML(node_title.val());
    var bounty      = ' #bounty ' + $("#bounty_with_unit").val();
    var max_lenght  = 120 - bounty.length - 1;
    if(message.length > max_lenght)
      message = message.substr(0, max_lenght) + "…";
    message = message + bounty;
    
    node_message.val(message);
    node_tweet.html(message);
  }
  node_title.change(update_message).keyup(update_message);
  update_message();
})(jQuery);
</script>
