<%= form_for identity, :url => (current_user ? nil : "/signup"), :remote => true do |form| %>
  <%#= hidden_field_tag :req, :email %>
  
  <p><%= I18n.t("identity/email.form.new.legend") %></p>
  <%= form.control_group :commercial, :check_box %>

  <%= form.error_messages @error if @error %>
  <%= form.control_group :email,                  :text_field %>
  <%= form.control_group :password,               :password_field %>
  <%= form.control_group :password_confirmation,  :password_field %>

  <% if false %>
  <p><%= I18n.t("identity/email.form.new.legend2") %></p>
  <%= form.control_group :newsletter_subscription, :check_box %>
  <% end %>
  
  <% submit_button_options = { :name => "signup_email", :id => "signup_email", :class => "btn btn-primary btn-inverse" } %>
  
  <% if current_user %>
    <%= form.actions "#", :"data-dismiss" => "modal" %>

  <% else %>
    <p><%= I18n.t("identity.form.agree_to_terms")%></p>
    <%= form.agree_to_terms(:id => "agree_to_terms_email") %>
    <%# submit_button_options[:disabled] = 'disabled' %>

    <div class="buttons">
      <%= link_to_cancel_signin %>
      <%= form.submit I18n.t("button.register"), submit_button_options %>
    </div>

    <script type="text/javascript" charset="utf-8">
      $("#agree_to_terms_email").change(function() {
        if($(this).is(':checked'))
          $("#signup_email").removeAttr("disabled");
        else
          $("#signup_email").attr("disabled", "disabled");
      });
    </script>
  <% end %>
  
<% end %>
