<%= form_for identity, :remote => true do |form| %>
  <p><%= I18n.t("identity/address.form.new.legend")%></p>
  <%= form.error_messages %>

  <%= partial("identities/address/form", :form => form) %>

  <%= form.actions "#", :"data-dismiss" => "modal" %>
<% end %>
