<div class="row-fluid">
  <div class="main span9">
    <%= user_bar(@user, :quest) %>
  </div>
  <div class="sidebar empty span3">&nbsp;</div>
</div>
<%= spacer %>
<div class="row-fluid main">
  <div class="main span9">
    <%= profile_box(@user, :class => "with-opener") %>
    <% if current_user == @user %>
      <%= spacer %>
      <%= identity_box  @user, :address %>
      <%= spacer %>
      <%= identity_box  @user, :email %>
      <%= spacer %>
      <%= identity_box  @user, :twitter %>
      <%= spacer %>
      <%= identity_box  @user, :facebook %>
      <%= spacer %>
      <%= identity_box  @user, :google %>
      <%= spacer %>
      <%= identity_box  @user, :linkedin %>
      <%= spacer %>
      <%= identity_box  @user, :xing %>
    <% end %>
    <%= spacer %>
    <%= activities_box(@user, :per_page => @per_page, :class => "with-opener") %>
  </div>
  <div class="sidebar span3">
    <%= user_statistic_boxes(@user) %>
  </div>
</div>
