<div class="row-fluid main">
  <div class="span2">&nbsp;</div>
  <div class="sidebar span2">
    <%= avatar @user, :size => 128 %>
  </div>
  <div class="main span6">
    <%= profile_box(@user) %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
<%= spacer %>
<div class="row-fluid">
  <div class="span2">&nbsp;</div>
  <div class="sidebar span2">
    <%= placeholder "Points" %>
    <%= spacer %>
    <%= placeholder "Activity" %>
  </div>
  <div class="main span6">
    <%= placeholder "Quests" %>
    <%= spacer %>
    <%= placeholder "Retweets" %>
    <%= spacer %>
    <%= placeholder "Offers" %>
    <%= spacer %>
    <%= placeholder "Activities" %>
  </div>
  <div class="span2">&nbsp;</div>
</div>
