<div class="row-fluid main">
  <div class="main span9">
    <%= profile_box(@user) %>
  </div>
  <div class="sidebar span3">
    <%= avatar @user, :size => 128 %>
  </div>
</div>

<% if current_user == @user %>
  <%= spacer %>
  <div class="row-fluid">
    <div class="main span9">
      <%= identity_box  @user, :address %>
      <%= spacer %>
      <%= identity_box  @user, :email %>
      <%= spacer %>
      <%= identity_box  @user, :twitter %>
      <%= spacer %>
      <%= identity_box  @user, :facebook %>
      <%= spacer %>
      <%= identity_box  @user, :google %>
      <%= spacer %>
      <%= identity_box  @user, :linkedin %>
      <%= spacer %>
      <%= identity_box  @user, :xing %>
    </div>
    <div class="sidebar span3">
      <%= user_statistic_boxes(@user) %>
    </div>
  </div>
<% end %>

<%= spacer %>
<div class="row-fluid">
  <div class="main span9">
    <%= activities_box(@user, :per_page => @per_page) %>
  </div>
  <div class="sidebar span3">
    <%= user_statistic_boxes(@user) unless current_user == @user %>
  </div>
</div>
