<% accordion_heading(:delete) do %>
  <%= I18n.t("user.form.delete.title")%>
  <%= awesome_icon(:icon_ban_circle, :size => :large, :class => "pull-right") %>
<% end %>

<% accordion_body(:delete) do %>
  <%= form_for @user, :remote => true do |form| %>
  <p><%= I18n.t("user.form.delete.legend")%></p>
    <%= form.error_messages %>
    
    <%= hidden_field_tag :partial, :delete %>

    <p>paceholder: TODO</p>

    <%= form.actions "#", :"data-dismiss" => "modal", :class => "btn btn-danger", :label => I18n.t("button.delete") %>
  <% end %>
<% end %>
