<% accordion_heading(:password) do %>
  <%= I18n.t("user.form.password.title")%>
  <%= awesome_icon(:lock, :class => "pull-right") %>
<% end %>

<% accordion_body(:password) do %>
  <%= form_for @user, :remote => true do |form| %>
  <p><%= I18n.t("user.form.password.legend.change")%></p>
    <%= form.error_messages %>
    <%= hidden_field_tag :partial, :password %>

    <%= form.control_group :password_new,              :password_field %>
    <%= form.control_group :password_new_confirmation, :password_field %>
    <%#= form.control_group :password,                  :password_field %>

    <%= form.actions "#", :"data-dismiss" => "modal" %>
  <% end %>
<% end %>
