<% accordion_heading(:profile) do %>
  <%= I18n.t("user.form.profile.title")%>
  <%= awesome_icon(icon_for('identity.private'), :class => "pull-right") %>
<% end %>

<% accordion_body(:profile) do %>
  <%= form_for @user, :remote => true do |form| %>
    <p><%= I18n.t("user.form.profile.legend")%></p>
    <%= form.error_messages %>
    
    <%= hidden_field_tag :section, :profile %>
    
    <%= form.control_group :first_name %>
    <%= form.control_group :last_name %>
    <%= form.control_group :description, :text_area, :rows => 3 %>
    <%= form.control_group :images, :filepicker %>

    <p><%= I18n.t("user.form.profile.legend2")%></p>
    <%= form.control_group :commercial, :check_box %>

    <%= form.actions "#", :"data-dismiss" => "modal" %>
  <% end %>
<% end %>
