<div class="row-fluid">
  <div class="span12">
    <div class="explanation">
      <% (1..5).each do |index| %>
        <div class="item item<%= index %>">
          <div class="headline"><%= I18n.t("home.explanation.headline#{index}").html_safe %></div>
          <div class="text"><%= I18n.t("home.explanation.text#{index}").html_safe %></div>
          <%= image_tag asset_path("home/key_0#{index}.png") %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <div class="claim">
      <%= link_to quests_path, :class => 'logo' do %>
        <span class='main'>bountyhill</span><br>
        <span class='sub'><%= I18n.t("home.claim")%></span>
      <% end %>
    </div>
  </div>
</div>
