<div class="row">
  <div class="span4">
    <div class="inner">
      <%= partial "/users/mini", :user => @user %>
    </div>
  </div>
  <div class="span8">
    <%= form_for @user do |form| %>
      <fieldset>
        <legend><%= I18n.t(:"account.legend")%></legend>
        <%= form.error_messages %>

        <%= form.control_group :first_name %>
        <%= form.control_group :last_name %>
        <%= form.control_group :address1 %>
        <%= form.control_group :address2 %>
        <%= form.control_group :city %>
        <%= form.control_group :zipcode %>
        <%= form.control_group :country %>

        <%= form.actions :cancel_url => users_path %>
      </fieldset>
    <% end %>
  </div>
</div>

