<div>
  <div class="span8" style="height: 180px">
    <div class="inner">
      <h3>
        <strong>Email:</strong>
        <%= user.email || link_to(I18n.t("profile.add_email"), signin_path(:req => :email)) %>
      </h3>
      <h3>
        <strong>Twitter:</strong>
        <%= user.twitter_handle || link_to(I18n.t("profile.add_twitter"), signin_path(:req => :twitter)) %>
      </h3>
    </div>
  </div>
</div>

<% quests = user.quests.limit(4) %>

<a name="quests"> </a>
<div class="row">
  <div class="span3" style="height: 180px">
    <div class="inner">
      <h2>Your quests</h2>
      <%= link_to "See your quests", quests_path(:owner_id => current_user) %>
    </div>
  </div>
  <div class="span9">
    <% if quests.present? %>
      <% quests.each do |quest| %>
      <div class="span4">
        <%= partial "quests/pin", :quest => quest %>
      </div>
      <% end %>
    <% else %>
      <%= partial "no_quests" %>
    <% end %>
  </div>
</div>

<% offers = Offer.relevant_for(current_user).limit(4) %>
<a name="offers"> </a>
<div class="row">
  <div class="span3" style="height: 180px">
    <div class="inner">
      <h2>Your offers</h2>
      <%= link_to "See your offers", offers_path(:owner_id => current_user) %>
    </div>
  </div>
  <div class="span9">
    <% if offers.present? %>
    
      <% offers.each do |offer| %>
        <div class="span4">
          <%= partial "offers/cell", :offer => offer %>
        </div>
      <% end %>
    <% else %>
      <%= partial "no_offers" %>
    <% end %>
  </div>
</div>
