<div class="row">
  <div class="span4">
    <div class="inner">
      <%= partial "/users/mini", :user => @user %>
    </div>
  </div>
  <div class="span8">
    <% if email = @user.identity(:email) %>
    <div class="inner">
    <%= form_for email, :url => @user, :html => { :method => "put" } do |form| %>
      <%= hidden_field_tag :tab, params[:tab] %>
      <legend><%= I18n.t(:"user.passwd.legend")%></legend>
      <%= form.error_messages %>

      <%= form.control_group :password_old, :password_field %>
      <%= form.control_group :password, :password_field %>
      <%= form.control_group :password_confirmation, :password_field %>
      
      <div class='buttons'>
        <%= submit_tag I18n.t("user.passwd.label"), :class => "btn btn-primary" %>
      </div>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
