<div class="row">
  <div class="span4">
    <div class="inner">
      <%= partial "/users/mini", :user => user %>
    </div>
  </div>
  <div class="span8">
    <div class="inner">
    <%= form_for user, :html => { :method => "delete" } do |form| %>
      <%= hidden_field_tag :tab, params[:tab] %>
      <legend><%= I18n.t(:"user.unregister.legend")%></legend>
      <p>
        <strong>We hate to see you leave.</strong>
      </p>
      <%= form.error_messages %>
      <p>
        Do you mind us asking why you decided to leave bountyhill?
      </p>
      <%= form.control_group :description, :text_area, :rows => 5 %>
      
      <%= form.control_group :delete_me, :check_box, :hint => false %>
      <div class='buttons'>
        <%= submit_tag I18n.t("user.unregister.label"), :class => "btn btn-danger" %>
      </div>
    <% end %>
    </div>
  </div>
</div>
