<div class="inner">
  <h2>
    <span class="bounty"><%=t "quest.actions.bounty.title", :bounty => quest.bounty.to_s.split(".").first %></span>
    <small><%=t "quest.actions.bounty.sub" %></small>
  </h2>
  <%= 
    action_buttons do
      action :t, :"quest.actions.tweet"
      action :d, :"quest.actions.offer"
    end
  %>
</div>
<div class="inner">
  <h2>
    <span><%=t "quest.actions.offers.title", :count => quest.offers.count %></span>
    <small><%=t "quest.actions.offers.sub" %></small>
  </h2>
</div>
<% if quest.offers.present? %>
<div class="inner">
  <h2>
    <span><%=t "quest.actions.compliance.title", :compliance => quest.compliance %></span>
    <small><%=t "quest.actions.compliance.sub" %></small>
  </h2>
</div>
<% end %>