<% criteria = quest.criteria %>
<div class="inner quest">
  <% if criteria.present? %>
  <h2>
    <span><strong><%= criteria.size %></strong> <%=t "quest.criteria.title" , :count => criteria.count %></span> 
    <small><%=t "quest.criteria.sub" %></small>
  </h2>

  <div class="criteria">
    <!-- TODO: accordion handling does not work correctly - pls. fix! -->
    <%= accordion do |acc| %>
      <% criteria.each_with_index do |criterium, idx| %>
        <%= acc.item criterium[:title], criterium[:description], :collapsed => idx != 0 %>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <h2>
    <span><%=t "quest.criteria.none.title" %></span>
    <small><%=t "quest.criteria.none.sub" %></small>
  </h2>
  <% end %>
</div>
