<%-
# note that when changing this file you probably want to change _description.html.erb
# and _image.html.erb too.
-%>
<div class="inner quest unbottom">
  <article class="quest">
    <div class="profile">
      <%= avatar quest.owner, :size => 128 %>
      <h2><%= quest.owner.name %></h2>
      <h3><%= link_to_twitter_account quest.owner %></h3>
    </div>
    <%= h1 quest.title %>
    <%= p quest.description %>
  </article>
</div>
