<%-
# note that when changing this file you probably want to change _description.html.erb
# and _image.html.erb too.
-%>
<div class="inner quest unbottom">
  <article class="quest">
    <div class="profile">
      <%= image_tag(quest.owner.avatar(:size => 128), :class => "avatar", :alt => quest.owner.name, :title => quest.owner.name) %>
      <%= link_to user_path(quest.owner) do %>
        <h2><%= quest.owner.name %></h2>
        <div class="handle"><%= quest.owner.twitter_handle %></div>
      <% end %>
    </div>
    <%= h1 quest.title %>
    <%= p quest.description %>
  </article>
</div>
