<%-
# note that when changing this file you probably want to change _description.html.erb
# and _image.html.erb too.
-%>
<%= link_to user_path(quest.owner), :class => "profile" do %>
  <%= avatar quest.owner, :size => 128 %>
  <div class="handle">
    <%= quest.owner.twitter_handle %><br>
    <h2><%= quest.owner.name %></h2>
  </div>
<% end %>

<%= h1 quest.title %>
<%= p quest.description %>
