<%-
# note that when changing this file you probably want to change _description.html.erb
# and _image.html.erb too.
-%>
<div class="profile">
  <%= avatar quest.owner, :size => 128 %>
  <%= link_to user_path(quest.owner) do %>
    <%= quest.owner.twitter_handle %>
    <h2><%= quest.owner.name %></h2>
  <% end %>
  
</div>
<%= h1 quest.title %>
<%= p quest.description %>
