<div class="quest inner">
  <% unless quest.location.present? %>
  <h2>
    <span><%=t "quest.location.none.title" %></span> 
    <small><%=t "quest.location.none.sub" %></small>
  </h2>
  <% else %>
  <h2>
    <span><%=t "quest.location.title", :location => quest.location %></span>
    <small><%=t "quest.location.sub" %></small>
  </h2>
  <div class="map-container">
    <div id="gmap_canvas" style="width: 100%; height: 200px"> </div>
    <script type="text/javascript" charset="utf-8">
      jQuery("#gmap_canvas").map_widget("<%= quest.location %>");
    </script>
  </div>
  <% end %>
</div>

