<%= form_for(identity, :url => "/auth/twitter/init", :remote => true) do |form| %>
  <% if current_user %>
    <p><%= I18n.t("identity/twitter.form.new.legend") %></p>
  <% else %>
    <p><%= I18n.t("identity/twitter.form.signin.legend") %></p>
  <% end %>
  
  <%= form.error_messages @error if @error %>
  <%#= hidden_field_tag :req, :twitter %>

  <% unless current_user || signin_identity.present? %>
    <p><%= I18n.t("identity.form.commercial") %></p>
    <%= form.control_group :commercial, :check_box %>
  <% end %>

  <%#= I18n.t("identity/twitter.form.follow_hint") %>
  <%#= form.control_group :follow_bountyhermes, :check_box %>

  <% unless current_user || signin_identity.present? %>
    <p><%= I18n.t("identity/twitter.form.email_hint") %></p>
    <%= form.control_group :email, :text_field, :type => :email %>
  <% end %>

  <% if current_user && !identity_requested?(:twitter) %>
    <%= form.actions "#", :"data-dismiss" => "modal" %>
  <% else %>
    <% unless current_user || signin_identity.present? %>
      <p><%= terms_of_use_legend %></p>
      <%= form.control_group :accept_terms, :check_box %>
    <% end %>
    <%= form.actions "/sessions/cancel", :label => I18n.t("button.signin"), :method => :post %>
  <% end %>
<% end %>
