<% accordion_heading(:confirm) do %>
  <%= I18n.t("identity/confirm.form.title")%>
  <%= awesome_icon(:check, :class => "pull-right") %>
<% end %>

<% accordion_body(:confirm) do %>
  <% form_for @identity ||= Identity::Email.new, :url => "/confirm", :remote => true do |form| %>
    <p><%= I18n.t("identity/confirm.form.legend")%></p>

    <div class="buttons">
      <%= link_to_cancel_signin %>
      <%= form.submit I18n.t("button.confirm"), :class => "btn btn-primary btn-inverse" %>
    </div>
  <% end %>
<% end %>
