<% accordion_heading(:twitter) do %>
  <%= I18n.t("identity/twitter.form.signin.title")%>
  <%= awesome_icon(:twitter, :class => "pull-right") %>
<% end %>

<% accordion_body(:twitter) do %>
  <%= form_for Identity::Twitter.new(:follow_bountyhermes => true), :url => "/auth/twitter/init" do |form| %>
    <p><%= I18n.t("identity/twitter.form.signin.legend") %></p>
    <p><%= I18n.t("identity/twitter.form.follow_hint") %></p>

    <%= hidden_field_tag :req, params[:req] %>
    <%= form.error_messages @error if @error %>

    <div class="checkbox-group">
      <%= form.control_group :follow_bountyhermes, :check_box %>
      <%= form.agree_to_terms(:id => "agree_to_terms_twitter") %>
    </div>

    <div class="buttons">
      <%= link_to_cancel_signin %>
      <%= form.submit I18n.t("button.signin"), :name => "do_signup_twitter", :id => "do_signup_twitter", :class => "btn btn-primary btn-inverse", :disabled => "disabled" %>
    </div>
  <% end %>
<% end %>

<script type="text/javascript" charset="utf-8">
  $("#agree_to_terms_twitter").change(function() {
    if($(this).is(':checked'))
      $("#do_signup_twitter").removeAttr("disabled");
    else
      $("#do_signup_twitter").attr("disabled", "disabled");
  });
</script>