<% identity = @identity || identity?(:email) || Identity::Email.new(:newsletter_subscription => true) %>

<% accordion_heading(:email) do %>
  <% if identity.new_record? %>
    <%= I18n.t("identity/email.form.new.title")%>
    <%= awesome_icon(:user, :size => :large, :class => "pull-right") %>
  <% else %>
    <%= I18n.t("identity/email.show.title")%>
    <%= awesome_icon(:envelope_alt, :class => "pull-right") %>
  <% end %>
<% end %>

<% accordion_body(:email) do %>
  <% if identity.new_record? %>
    <%= render :partial => "identities/email/new", :locals => { :identity => identity } %>
  <% else %>
    <p><%= I18n.t("identity/email.show.legend")%></p>
    <%= form_for(identity, :remote => true) do |form| %>
      <%= form.control_group :email, :text_field, :disabled => 'disabled' %>
    <% end %>
    <%= render :partial => "identities/email/edit", :locals => { :identity => identity } %>
  <% end %>
<% end %>
