<% identity = @identity || identity?(:facebook) || Identity::Facebook.new %>

<% accordion_heading(:facebook) do %>
  <% if identity.new_record? %>
    <%= I18n.t("identity/facebook.form.signin.title")%>
  <% else %>
    <%= I18n.t("identity/facebook.show.title")%>
  <% end %>
  <%= awesome_icon(:facebook_sign, :size => :large, :class => "pull-right") %>
<% end %>

<% accordion_body(:facebook) do %>
  <% if identity.new_record? %>
    <%= render :partial => "identities/facebook/new", :locals => { :identity => identity } %>
  <% else %>
    <p><%= I18n.t("identity/facebook.show.legend")%></p>
    <%= form_for(identity, :remote => true) do |form| %>
      <%= form.control_group :nickname, :text_field, :hint => false, :disabled => 'disabled' %>
    <% end %>
    <%= render :partial => "identities/facebook/delete", :locals => { :identity => identity } unless identity.solitary? %>
  <% end %>
<% end %>
