<div class="inner offer">
  <h2>
    <span class="bounty">
      <%=t "offer.actions.bounty.title", :bounty => offer.bounty.to_s.split(".").first %>
    </span>
    <small><%=t "offer.actions.bounty.sub" %></small>
  </h2>
  <%= 
    action_buttons do |act|
      act.action :t, :"offer.actions.tweet"
      act.action :d, :"offer.actions.offer", :url => new_offer_path(:offer_id => offer)
    end
  %>
</div>
<div class="inner">
  <h2>
    <span><%=t "offer.actions.compliance.title", :compliance => offer.compliance %></span>
    <small><%=t "offer.actions.compliance.sub" %></small>
  </h2>
</div>
