<% criteria = offer.criteria %>
<div class="inner offer">
  <% if criteria.present? %>
  <h2>
    <span><%=t "offer.criteria.title" , :count => criteria.count %></span> 
    <small><%=t "offer.criteria.sub" %></small>
  </h2>

  <div class="faq">
    <%= accordion do |acc| %>
      <% criteria.each do |criterium| %>
      <%= acc.item criterium[:title], criterium[:description] %>
      <% end %>
    <% end %>
  </div>
  <% else %>
  <h2>
    <span><%=t "offer.criteria.none" %></span> 
    <small><%=t "offer.criteria.none_sub" %></small>
  </h2>
  <% end %>
</div>
