<div class="inner quest unbottom">
  <article class="offer">
    <div class="profile">
      <%= avatar offer.owner, :size => 128 %>
      <%= link_to user_path(offer.owner) do %>
        <h2><%= offer.owner.name %></h2>
      <% end %>
      <div class="handle"><%= link_to_twitter_account offer.owner %></div>
    </div>
    <%= h1 offer.quest.title %>
    <%= p offer.description %>
  </article>
</div>
