<div class="content private">
  <%= avatar user, :size => 64 %>
  <h1><%= user.name %></h1>
  <dl>
    <dt>Twitter:</dt> <dd><%= user.twitter_handle || link_to(I18n.t("profile.add_twitter"), signin_path(:req => :twitter)) %></dd>
    <dt>Email:</dt>   <dd><%= user.email          || link_to(I18n.t("profile.add_email"),   signin_path(:req => :email)) %></dd>
    <dt>Address:</dt> 
    <% if user.address? %>
                  <dd><%= user.address1 %></dd>
      <dt></dt>   <dd><%= user.address2 %></dd>
      <dt></dt>   <dd><%= user.zipcode %> <%= user.city %></dd>
      <dt></dt>   <dd><%= user.country %></dd>
    <% else %>
      <dd> <%= link_to(I18n.t("profile.add_address"), edit_user_path(user)) %> </dd>
    <% end %>
  </dl>
</div>
