<div class="span4">
  <div class="inner">
    <div class="featuedBox">
      <div class="imgShow">
        <%= render_bounty_badge offer %>
        
        <div class="unbottom untop">
          <h3><%= 
            title = truncate offer.title, :length => 60 
            link_to title, offer
          %></h3>
          <div>
            <%= truncate offer.description, :length => 200 %>
          </div>
          <div class="restrictions">
            <%= render_restriction offer, :compliance %>
            <%= render_restriction offer, :created_at %>
          </div>
          <div class="socialmedia">
            <a class="social-item twitter" href="#" title="find us twitter">t</a>
          </div>
          <div class="bottom_link tip">
            <!-- <a href="#" class="more" data-original-title="More Detail"></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
