<%= form_for @offer do |form| %>
  <p class="legend"><%= i18n_legend_for(@offer) %></p>
  <%= form.error_messages %>

  <%= form.control_group :quest_id,     :hidden_field %>
  <%= form.control_group :title,        :text_area, :rows => 2, :class => "input-xxlarge" %>
  <%= form.control_group :description,  :text_area, :rows => 6, :class => "input-xxlarge tinymce" %>
  <%= form.control_group :images,       :filepicker, :multiple => true %>

  <% if @offer.criteria.present? %>
    <div class="criteria-section">
      <p class="legend"><%= i18n_form_hint_for(@offer, :count => @offer.quest.criteria.size) %></p>

      <ul class="criteria">
        <% @offer.criteria.each_with_index do |criterium, idx| %>
          <li class="clearfix">
            <div class="index"><%= idx + 1 %></div>
            <div class="criteria"><%= criterium[:title] %></div>
            <%= form.control_group Offer.criteria_ids[idx],         :hidden_field %>
            <div class="fullfilment">
              <%= form.control_group Offer.criteria_compliances[idx], :range_slider,            :label => Offer.human_attribute_name(:fulfillment), :hint => false %>
              <%= form.control_group Offer.criteria_compliances[idx], :compliance, :compliance, :label => false, :class => "progress" %>
            </div>
            <%= form.control_group Offer.criteria_comments[idx],    :text_area, :rows => 2,   :label => Offer.human_attribute_name(:comment),     :hint => I18n.t("offer.form.field_hint.comment"), :class => "input-xxlarge" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p class="legend"><%= I18n.t("offer.form.create.compliance") %></p>
  <%= form.control_group(:compliance, :compliance, :class => "progress main") if @offer.criteria.present? %>
  <%= form.actions @offer.new_record? ? quest_path(@offer.quest) : offer_path(@offer) %>
<% end %>


<script type="text/javascript" charset="utf-8">
// recalculate compliance, whenever a compliance changed.
  jQuery("input[type=range]").change(function() {
    var form      = $(this).closest("form");
    var mainBar   = jQuery("div.progress.main div.bar", form)[0];
    var mainValue = jQuery("div.progress.main div.value", form)[0];
    var sliders   = jQuery("input[type=range]", form);
    var li        = $(this).closest("li");
    var slider    = jQuery("input[type=range]", li);
    var bar       = jQuery("div.progress div.bar", li)[0];
    var value     = jQuery("div.progress div.value", li)[0];
    var sum       = 0;

    sliders.each(function() { sum += parseInt($(this).val()); });
    var compliance_sum = Math.round(sliders.length > 0 ? (sum * 100) / (10 * sliders.length) : 50);
    
    mainValue.innerHTML = compliance_sum;
    mainBar.setAttribute('style', 'width:' + compliance_sum + '%');
    
    var compliance = (10 * parseInt($(this).val()));
    value.innerHTML = compliance;
    bar.setAttribute('style', 'width:' + compliance + '%');
  });
</script>

<%= tinymce %>