<div class="message-container span12">
  <%= link_to user_path(offer.owner), :class => "avatar" do
    avatar offer.owner, :size => 48
  end %>
  <div class="message-box">
    <div class="message-head">
      <%= link_to user_path(offer.owner), :class => "owner" do %>
        <%= strong(offer.owner.name) %><br/>
        <%= offer.owner.twitter_handle %>
        <% end %>
        <div class="time">
          <%= time_ago_in_words(offer.created_at) %>
        </div>
      </div>
    <%= link_to offer_path(offer), :class => "message" do
      truncate(offer.title, :length => 200)
    end %>
    <%= offer_buttons(offer) %>
    <%= offer_compliance(offer) %>
  </div>
</div>