<div class="message-container row-fluid">
  <%= link_to offer_path(offer), :class => "message-box span8" do %>
    <div class="message row-fluid">
      <div class="avatar-container span2">
        <%= avatar offer.owner, :size => 96 %>
      </div>
      <div class="text-container span10">
        <div class="message-head row-fluid">
          <div class="owner span6">
            <%= offer.owner.name %>
          </div>
          <div class="time span6">
            <%= I18n.t("offer.list.creation", :distance_of_time => distance_of_time_in_words_to_now(offer.created_at)) %>
          </div>
        </div>
        <div class="message-body">
          <%= truncate(offer.title, :length => 200) %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="message-stats span4">
    <%= offer_statistic(offer) %>
    <%= offer_responses(offer) %>
    <%= offer_buttons(offer) %>
  </div>
</div>
