<div class="message-container span9">
  <%= link_to user_path(offer.owner), :class => "avatar" do
    avatar offer.owner, :size => 64
  end %>
  <div class="message-box">
    <div class="message-head">
      <%= link_to user_path(offer.owner), :class => "owner" do %>
        <%= strong(offer.owner.name) %>
        <%= offer.owner.twitter_handle %>
      <% end %>
      <div class="time">
        <%= I18n.t("time.distance.creation", :distance_of_time => distance_of_time_in_words_to_now(offer.created_at)) %>
      </div>
    </div>
    <%= link_to offer_path(offer), :class => "message" do
      truncate(offer.title, :length => 200)
    end %>
    <%= offer_buttons(offer) %>
  </div>
</div>

<div class="span3">
  <%= offer_statistic(offer) %>
</div>