<h1><%= offer.title %></h1>
<div class="description"><%= offer.description.html_safe %></div>

<% if offer.criteria.present? %>
  <h2><%= I18n.t("offer.box.criteria", :count => offer.criteria.count) %></h2>
  <%= partial "shared/criteria", :container => offer, :complience => true %>
<% end %>

<% if offer.images.present? %>
  <h2><%= I18n.t("offer.box.images", :count => offer.images.count) %></h2>
  <%= partial "shared/images", :container => offer %>
<% end %>

<% if preview %>
  <div class="button-section">
    <%= make_offer_button(offer, :button => "btn btn-link", :size => "default") %>
  </div>
  <div class="clearfix"/>
<% end %>