<h1><%= offer.title %></h1>
<div class="description"><%= offer.description %></div>

<% if offer.criteria.present? %>
<div class="criteria-section">
  <p><%= I18n.t("offer.box.criteria") %></p>
  <ol class="criteria">
    <% @offer.criteria.each do |criterium| %>
      <li>
        <%= offer_compliance(@offer, :value => (criterium[:compliance].to_i * 10)) %>
        <div class="criterium-title"><%= criterium[:title] %></div>
        <div class="criterium-comment"><%= criterium[:comment] %></div>
      </li>
    <% end %>
  </ol>
</div>
<% end %>

<% if offer.images.present? %>
  <div class="image-section">
    <% offer.images(:width => 185, :height => 180).each_slice(4).with_index do |image_urls, offset| %>
      <ul class="thumbnails row-fluid">
        <% image_urls.each_with_index do |image_url, index| %>
          <li class="span3">
            <%= link_to(image_tag(image_url, :width => 185, :height => 180),
              "/offers/#{offer.id}/lightbox/#{(offset*4)+index}",
              :class => 'thumbnail',
              :remote => true) %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>
<% end %>
