<div class="row-fluid">
  <div class="main span9">
    <%= partial "quests/topbar", :quest => @offer.quest %>
  </div>
  <div class="sidebar span3">
    <%= quest_bounty_statistic_box(@offer.quest) %>
  </div>
</div>
<%= spacer %>

<div class="row-fluid">
  <div class="main span9">
    <%= user_bar(@offer.owner, :offer, :class => "with-opener clearfix") %>
  </div>
  <div class="sidebar empty span3">&nbsp;</div>
</div>
<%= spacer %>

<div class="row-fluid main">
  <div class="main span9">
    <%= offer_box(@offer, :class => "with-opener") %>
    <a id ='comments'></a>
    <%= spacer %>
    <%= comments_box(@offer) %>
  </div>
  <div class="sidebar span3">
    <%#= partial "quests/sidebar", :quest => @offer.quest %>
    <%#= spacer %>
    <%= offer_statistic_boxes(@offer) %>
  </div>
</div>
