<%= 
  header_ribbon_button :rect, t("show.actions.offer.title"), "/offers",
    :text   => t("show.actions.offer.sub")
%>
<div class="row bg-main" >
  <div class="span12 bg-solid-black">
    <% if mobile? %>
    <div class="row">
      <div class="span6">
        <%= partial "offers/show/head", :offer => @offer %>
      </div>
      <div class="span6">
        <%= partial "offers/show/actions", :offer => @offer %>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <%#= partial "offers/show/image", :offer => @offer %>
        <%= partial "offers/show/criteria", :offer => @offer %>
      </div>
      <div class="span6">
        <%= partial "quests/show/expires_at", :quest => @offer.quest %>
      </div>
    </div>
    <% else %>
    <div class="row">
      <div class="span8">
        <%= partial "offers/show/head", :offer => @offer %>
        <%= partial "offers/show/images", :offer => @offer %>
        <%= partial "offers/show/criteria", :offer => @offer %>

        <%= partial "offers/comments", :offer => @offer %>
      </div>
      <div class="span1">&nbsp;</div>
      <div class="span3">
        <%= partial "offers/show/actions", :offer => @offer %>
        <%= partial "quests/show/expires_at", :quest => @offer.quest %>
        <%#= partial "offers/show/location", :offer => @offer %>
      </div>
    </div>
    <% end %>
  </div>
</div>
