<div class="row-fluid">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= user_bar(@offer.owner, :offer) %>
  </div>
  <div class="sidebar span2">&nbsp;</div>
  <div class="span1">&nbsp;</div>
</div>

<%= spacer %>

<div class="row-fluid main">
  <div class="span1">&nbsp;</div>
  <div class="main span8">
    <%= offer_box(@offer, :class => "with-opener") %>
    <%= spacer %>
    <div class="row-fluid">
      <div class="span6">
        <%= comments_box(@offer) %>
      </div>
      <div class="span6">&nbsp;</div>
    </div>
  </div>
  <div class="sidebar span2">
    <%= placeholder "Quest referred" %>
    <%= spacer %>
    <%= offer_statistic_boxes(@offer) %>
  </div>
  <div class="span1">&nbsp;</div>
</div>
