<%= form_for user do |form| %>
  <fieldset>
    <legend><%= I18n.t(:"user.form.contact.legend") %></legend>
    <p><%= I18n.t(:"user.form.contact.text") %></p>

    <%= form.error_messages %>

    <%= form.control_group :first_name %>
    <%= form.control_group :last_name %>
    <%= form.control_group :address1 %>
    <%= form.control_group :address2 %>
    <%= form.control_group :city %>
    <%= form.control_group :zipcode %>
    <%= form.control_group :country %>

    <%= form.control_group :images, :filepicker, :multiple => false %>

    <%= form.actions :cancel_url => user_path %>
  </fieldset>
<% end %>
