<%= form_for email, :url => user, :html => { :method => "put" } do |form| %>
  <legend><%= I18n.t("user.form.passwd.legend")%></legend>
  <p><%= I18n.t(:"user.form.passwd.text") %></p>

  <%= form.error_messages %>

  <%= form.control_group :password_old, :password_field %>
  <%= form.control_group :password, :password_field %>
  <%= form.control_group :password_confirmation, :password_field %>
  
  <div class='buttons'>
    <%= submit_tag I18n.t("user.form.passwd.button"), :class => "btn btn-inverse" %>
  </div>
<% end %>
