<%= form_for user, :html => { :method => "delete" } do |form| %>
  <legend><%= I18n.t(:"user.form.unregister.legend") %></legend>
  <%= form.error_messages %>
  <p><%= I18n.t(:"user.form.unregister.text") %></p>

  <%= form.error_messages %>
  
  <%= form.control_group :description, :text_area, :rows => 5 %>
  <%= form.control_group :delete_me, :check_box, :hint => false %>
  
  <div class='buttons'>
    <%= link_to "cancel".t, user_path, :class => "btn btn-small" %>
    <%= submit_tag I18n.t("user.form.unregister.button"), :class => "btn btn-danger" %>
  </div>
<% end %>
