<% reply = defined?(reply) ? reply : false %>
<li class="comment" id="comment_<%= comment.id %>">
  <div class="message-container span12">
    <%= link_to user_path(comment.owner), :class => "owner" do
      avatar comment.owner, :size => 48
    end %>
    <div class="message-box">
      <div class="message-head">
        <%= link_to user_path(comment.owner), :class => "owner" do %>
          <%= strong(comment.owner.name) %>
          <%= comment.owner.twitter_handle %>
        <% end %>
        <div class="time">
          <%= I18n.t("comment.list.creation", :distance_of_time => distance_of_time_in_words_to_now(comment.created_at)) %>
        </div>
      </div>
      <%= simple_format(comment.body, :class => "message") %>
      <%= comment_buttons(comment, :reply => reply) %>
    </div>
  </div>
  <% if Opinio.accept_replies && !reply %>
    <ul id="comment_<%= comment.id %>_replies" class="replies">
      <%= render :partial => "opinio/comments/comment", :collection => comment.comments, :locals => {:reply => true} %>
    </ul>
  <% end %>
</li>
