<%= form_for quest, :url => run_url(quest), :method => :delete, :html => { :class => "runs_form" } do |form| %>
  <fieldset>
    <legend><%= I18n.t("cancel_run.legend") %></legend>
    <%= form.error_messages %>

    <div class="pull-right">
    <%= form.control_group :cancellation, :radio_button, :hint => false do 
      ul :class => "radio_button_group" do
        Quest::CANCELLATIONS.map do |value|
          radio_button = form.radio_button :cancellation, value,
            :checked => ((quest.cancellation || Quest::CANCELLATIONS.first) == value)
          li "#{radio_button} #{I18n.t("cancel_run.#{value}")}"
        end.join.html_safe
      end 
    end %>
    </div>

    <%= form.control_group :cancellation_reason, :text_area, :rows => 2, :hint => false %>
    <%= form.actions quest_path(quest), :label => "Stop this quest" %>
  </fieldset>
<% end %>
