<%= form_for quest, :url => run_url(quest), :method => :delete, :remote => true do |form| %>
  <% modal_body do %>
    <p><%= I18n.t("quest.form.stop.legend") %></p>
    <%= form.error_messages %>

    <%= form.control_group :cancellation, :radio_button, :hint => false do
      Quest::CANCELLATIONS.map do |value|
          label :class => "radio" do
            form.radio_button(:cancellation, value, :checked => ((quest.cancellation || Quest::CANCELLATIONS.first) == value)) +
            I18n.t("quest.form.field_hint.cancellation.#{value}")
          end
        end.join.html_safe
    end %>
    <%= form.control_group :cancellation_reason, :text_area, :rows => 3, :hint => false %>

    <%= form.actions "#", :"data-dismiss" => "modal", :label => I18n.t("button.stop") %>
  <% end %>
<% end %>
