<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title></title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="keywords" content="wanted search ads reward bounty recommendation advise hint job car appartment twitter tweet social network">
  
  <!-- webfonts -->
  <link type="text/css" rel="stylesheet" href='http://fonts.googleapis.com/css?family=Ubuntu:300italic,300,700'/>
    
  <!-- stylesheets -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <!-- javascripts -->
  <%= javascript_include_tag "application" %>
  
  <!-- security -->
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="bg-blacklight"></div>
  <%= render 'layouts/header' %>
  <div class="container style3">
    <section class="topspace blackshadow bg-black">
      <%= 
        if defined?(content)
          content.html_safe
        else
          yield
        end
      %>
      <%= render 'layouts/company' if show_company_footer? %>
    </section>
  </div>
  <%= render 'layouts/footer' %>
  <%#= debug(params) if Rails.env.development? %>
</body>
</html>
