<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9" lang="en"> <![endif]--> 
<!--[if (gte IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <title></title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=yes" />
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="keywords" content="wanted search ads reward bounty recommendation advise hint job car appartment twitter tweet social network">
  
  <!-- navbar-fixed-top breaks when using responsive css - see: https://github.com/twitter/bootstrap/issues/1570 -->
  <style type="text/css">
    body { padding: 60px 0; }
  </style>
  
  <!-- stylesheets -->
  <%= stylesheet_link_tag "application", :media => "all" %>
  
  <!-- javascripts -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery_ujs.js"></script>
    
  <%= filepicker_tags %>

  <%= javascript_include_tag "application" %>

  <!-- security -->
  <%= csrf_meta_tags %>
</head>
<body>
  <%= div "", :id => "myModal", :class => "modal hide fade", :role => "dialog", :"aria-labelledby" => "myModalLabel", :"aria-hidden" => "true" %>
  <%= render 'layouts/header' %>
  <%#= render 'layouts/debug' if Rails.env.development? %>
  <%= render_flash %>
    <div class="container-fluid">
      <%= defined?(content) ? content.html_safe : yield %>
    </div>
  <%= render 'layouts/footer' %>
</body>
</html>
